<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Controle Financeiro
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="app-layout">

    <aside class="sidebar">

        <div class="logo">
            💰 <span>Controle Financeiro</span>
        </div>

        <nav class="menu">

            <a href="{{ url_for('dashboard.dashboard') }}">
                🏠 Dashboard
            </a>

            <a href="{{ url_for('contas.listar') }}">
                🏦 Contas
            </a>

            <a href="{{ url_for('lancamentos.listar') }}">
                💰 Lançamentos
            </a>

            <a href="{{ url_for('categorias.listar') }}">
                📂 Categorias
            </a>

            <a href="{{ url_for('cartoes.listar') }}">
                💳 Cartões
            </a>

            <a href="{{ url_for('compras_cartao.listar') }}">
                🛒 Compras no cartão
            </a>

            <a href="{{ url_for('faturas_cartao.listar') }}">
                🧾 Faturas dos cartões
            </a>

            <a href="#">
                🎯 Metas
            </a>

            <a href="#">
                📊 Relatórios
            </a>

        </nav>

    </aside>


    <main class="main-content">

        {% block content %}
        {% endblock %}

    </main>

</div>


<script
    src="{{ url_for('static', filename='js/app.js') }}"
></script>

</body>

</html>